### Python Download Link:

Anaconda Download Link: https://www.anaconda.com/products/distribution

### Online Python Editors:

https://onecompiler.com/ <br>
https://www.onlinegdb.com/

### Python Study Material Links:

* Python for you and me: https://pymbook.readthedocs.io/en/latest/
* Python Practice Book: https://anandology.com/python-practice-book/index.html
* Learn Python Programming (programmiz.com): https://www.programiz.com/python-programming
* Learn Python Programming (data-flair): https://data-flair.training/blogs/python-tutorial/

In [6]:
print ("Hello")
print ("Welcome to all...")

Hello
Welcome to all...

In [7]:
# This is a comment line
# This is another comment line
# This is the last comment line
# Use Ctrl+/ to make a block of codes commented and/or uncommented

In [9]:
num1 = input("Please enter the first number: ")
num2 = input("Please enter the second number: ")
print (num1, type(num1), num2, type(num2))
total = num1 + num2
print ("So the total is", total)

Please enter the first number:  100
Please enter the second number:  300

100 <class 'str'> 300 <class 'str'>
So the total is 100300

In [11]:
num1 = int(input("Please enter the first number: "))
num2 = int(input("Please enter the second number: "))
print (num1, type(num1), num2, type(num2))
total = num1 + num2
print ("So the total is", total)

Please enter the first number:  100
Please enter the second number:  400

100 <class 'int'> 400 <class 'int'>
So the total is 500

In [28]:
print ("So the total of", num1, "and", num2, "is", total)
print ("So the total of " + str(num1) + " and " + str(num2) + " is " + str(total))
print ("So the total of {} and {} is {}".format(num1, num2, total))   # {} is denoting a variable or value place holder
print ("So the total of {0} and {1} is {2}".format(num1, num2, total))   # numbered place holder
print ("So the total of {2} and {0} is {1}".format(num2, total, num1))
print ("So the total of {fnum} and {snum} is {tot}".format(fnum = num1, snum = num2, tot = total))   # labelled place holder
print ("So the total of {fnum} and {snum} is {tot}".format(tot = total, snum = num2, fnum = num1))
print ("So the total of %d and %d is %d"%(num1, num2, total))
print ("So the total of %d and %d is %f"%(num1, num2, total))
print ("So the total of %d and %d is %8.3f"%(num1, num2, total))
print (f"So the total of {num1} and {num2} is {total}")

So the total of 100 and 400 is 500
So the total of 100 and 400 is 500
So the total of 100 and 400 is 500
So the total of 100 and 400 is 500
So the total of 100 and 400 is 500
So the total of 100 and 400 is 500
So the total of 100 and 400 is 500
So the total of 100 and 400 is 500
So the total of 100 and 400 is 500.000000
So the total of 100 and 400 is  500.000
So the total of 100 and 400 is 500

### Operators
#### Arithmetic Operators

In [29]:
# arithmetic operators: + - * / // % **
print (100 + 40)   # addition
print (100 - 40)   # subtraction
print (100 * 40)   # multiplication
print (100 / 40)   # float division
print (100 // 40)  # integer division
print (100 % 40)   # remainder of the division
print (100 ** 4)   # exponentiation

140
60
4000
2.5
2
20
100000000

#### Logical Operators

In [31]:
# logical operators: and, or, not
print (False and False, False and True, True and False, True and True)
print (False or False, False or True, True or False, True or True)
print (not True, not False)

False False False True
False True True True
False True

#### Relational Operators

In [39]:
# relational operators: > >= < <= != ==
print (100 > 20, 100 >= 20, 100 < 20, 100 <= 20, 100 != 20, 100 == 20)

True True False False True False

#### Unary and Binary Operators

In [38]:
result = -100  # here - is a uniary operator, i.e it requires only one operand
print (result)
result = 100 + 400  # here + is a binary operator, i.e it requires two operands
print (result)

-100
500

#### Ternary Operator

In [37]:
# ternary oprator requires three operands (or data) to operate (true-part, condition, false-part)
num = 100
result = "Even Number..." if (num % 2 == 0) else "Odd Number..."
print (result)

num = 101
result = "Even Number..." if (num % 2 == 0) else "Odd Number..."
print (result)

Even Number...
Odd Number...