### Python Download Link:

Anaconda Download Link: https://www.anaconda.com/products/distribution

### Online Python Editors:

https://onecompiler.com/ <br>
https://www.onlinegdb.com/

### Python Study Material Links:

* Python for you and me: https://pymbook.readthedocs.io/en/latest/
* Python Practice Book: https://anandology.com/python-practice-book/index.html
* Learn Python Programming (programmiz.com): https://www.programiz.com/python-programming
* Learn Python Programming (data-flair): https://data-flair.training/blogs/python-tutorial/

In [6]:
print ("Hello")
print ("Welcome to all...")

Hello
Welcome to all...

In [7]:
# This is a comment line
# This is another comment line
# This is the last comment line
# Use Ctrl+/ to make a block of codes commented and/or uncommented

In [9]:
num1 = input("Please enter the first number: ")
num2 = input("Please enter the second number: ")
print (num1, type(num1), num2, type(num2))
total = num1 + num2
print ("So the total is", total)

Please enter the first number:  100
Please enter the second number:  300

100 <class 'str'> 300 <class 'str'>
So the total is 100300

In [11]:
num1 = int(input("Please enter the first number: "))
num2 = int(input("Please enter the second number: "))
print (num1, type(num1), num2, type(num2))
total = num1 + num2
print ("So the total is", total)

Please enter the first number:  100
Please enter the second number:  400

100 <class 'int'> 400 <class 'int'>
So the total is 500

In [28]:
print ("So the total of", num1, "and", num2, "is", total)
print ("So the total of " + str(num1) + " and " + str(num2) + " is " + str(total))
print ("So the total of {} and {} is {}".format(num1, num2, total))   # {} is denoting a variable or value place holder
print ("So the total of {0} and {1} is {2}".format(num1, num2, total))   # numbered place holder
print ("So the total of {2} and {0} is {1}".format(num2, total, num1))
print ("So the total of {fnum} and {snum} is {tot}".format(fnum = num1, snum = num2, tot = total))   # labelled place holder
print ("So the total of {fnum} and {snum} is {tot}".format(tot = total, snum = num2, fnum = num1))
print ("So the total of %d and %d is %d"%(num1, num2, total))
print ("So the total of %d and %d is %f"%(num1, num2, total))
print ("So the total of %d and %d is %8.3f"%(num1, num2, total))
print (f"So the total of {num1} and {num2} is {total}")

So the total of 100 and 400 is 500
So the total of 100 and 400 is 500
So the total of 100 and 400 is 500
So the total of 100 and 400 is 500
So the total of 100 and 400 is 500
So the total of 100 and 400 is 500
So the total of 100 and 400 is 500
So the total of 100 and 400 is 500
So the total of 100 and 400 is 500.000000
So the total of 100 and 400 is  500.000
So the total of 100 and 400 is 500

### Operators
#### Arithmetic Operators

In [29]:
# arithmetic operators: + - * / // % **
print (100 + 40)   # addition
print (100 - 40)   # subtraction
print (100 * 40)   # multiplication
print (100 / 40)   # float division
print (100 // 40)  # integer division
print (100 % 40)   # remainder of the division
print (100 ** 4)   # exponentiation

140
60
4000
2.5
2
20
100000000

#### Logical Operators

In [31]:
# logical operators: and, or, not
print (False and False, False and True, True and False, True and True)
print (False or False, False or True, True or False, True or True)
print (not True, not False)

False False False True
False True True True
False True

#### Relational Operators

In [39]:
# relational operators: > >= < <= != ==
print (100 > 20, 100 >= 20, 100 < 20, 100 <= 20, 100 != 20, 100 == 20)

True True False False True False

#### Unary and Binary Operators

In [38]:
result = -100  # here - is a uniary operator, i.e it requires only one operand
print (result)
result = 100 + 400  # here + is a binary operator, i.e it requires two operands
print (result)

-100
500

#### Ternary Operator

In [37]:
# ternary oprator requires three operands (or data) to operate (true-part, condition, false-part)
num = 100
result = "Even Number..." if (num % 2 == 0) else "Odd Number..."
print (result)

num = 101
result = "Even Number..." if (num % 2 == 0) else "Odd Number..."
print (result)

Even Number...
Odd Number...

### Conditional Statements

In [13]:
# finding the maximum of three user given numbers
num1 = int(input("Please enter the first number: "))
num2 = int(input("Please enter the seocnd number: "))
num3 = int(input("Please enter the third number: "))
if (num1 > num2):
    if (num1 > num3):
        print ("So the maximum number is", num1)
        print ("So the first number is the maximum number...")
    else:
        print ("So the maximum number is", num3)
        print ("So the third number is the maximum number...")
elif (num2 > num3):
    print ("So the maximum number is", num2)
    print ("So the second number is the maximum number...")
else:
    print ("So the maximum number is", num3)
    print ("So the third number is the maximum number...")
print ("End of the program...")

Please enter the first number:  100
Please enter the seocnd number:  300
Please enter the third number:  200

So the maximum number is 300
So the second number is the maximum number...
End of the program...

In [16]:
# finding the maximum of three user given numbers
num1 = int(input("Please enter the first number: "))
num2 = int(input("Please enter the seocnd number: "))
num3 = int(input("Please enter the third number: "))
if (num1 > num2 and num1 > num3):
    print ("So the maximum number is", num1)
    print ("So the first number is the maximum number...")
elif (num2 > num3):
    print ("So the maximum number is", num2)
    print ("So the second number is the maximum number...")
else:
    print ("So the maximum number is", num3)
    print ("So the third number is the maximum number...")
print ("End of the program...")

Please enter the first number:  200
Please enter the seocnd number:  100
Please enter the third number:  300

So the maximum number is 300
So the third number is the maximum number...
End of the program...

Logic Tracing -
Step 1: In between num1 and num2 whichever is maximum number put it in max1 and the other number in max2
Step 2: We shall deal with only max1, max2 and num3
    
                            max1         max2
                            500          200
       num3 =         700          400          100
       2nd maximum =  500          400          200
                      max1         num3         max2

In [22]:
# find the second maximum of three user given numbers
num1 = int(input("Please enter the first number: "))
num2 = int(input("Please enter the seocnd number: "))
num3 = int(input("Please enter the third number: "))

# Step - 1:
if (num1 > num2): max1 = num1; max2 = num2
else: max1 = num2; max2 = num1
    
# Step - 2:
if (num3 > max1): print ("So the second maximum is", max1)
elif (num3 > max2): print ("So the second maximum is", num3)
else: print ("So the second maximum is", max2)
    
print ("End of the program...")

Please enter the first number:  100
Please enter the seocnd number:  200
Please enter the third number:  300

So the second maximum is 200
End of the program...

### Iterative Statements: for, while loops

In [28]:
for i in range(10):
    print ("i =", i, end = ", ")
print ()
for i in range(5, 10):
    print ("i =", i, end = ", ")
print ()
for i in range(-10, 10):
    print ("i =", i, end = ", ")
print ()
for i in range(1, 10, 2):
    print ("i =", i, end = ", ")

i = 0, i = 1, i = 2, i = 3, i = 4, i = 5, i = 6, i = 7, i = 8, i = 9,
i = 5, i = 6, i = 7, i = 8, i = 9,
i = -10, i = -9, i = -8, i = -7, i = -6, i = -5, i = -4, i = -3, i = -2, i = -1, i = 0, i = 1, i = 2, i = 3, i = 4, i = 5, i = 6, i = 7, i = 8, i = 9,
i = 1, i = 3, i = 5, i = 7, i = 9,

In [32]:
for ch in "university":
    print (ch, end = ", ")
print ()
for data in [100, 200, 150, 110, 400]:
    print (data, end = ", ")

u, n, i, v, e, r, s, i, t, y,
100, 200, 150, 110, 400,

In [33]:
for i in range(1, 11):
    print ("i =", i)
else:
    print ("Else block is executing...")
print ("End of the iteration...")

i = 1
i = 2
i = 3
i = 4
i = 5
i = 6
i = 7
i = 8
i = 9
i = 10
Else block is executing...
End of the iteration...

In [34]:
for i in range(1, 11):
    print ("i =", i)
    if (i == 5): break
else:
    print ("Else block is executing...")
print ("End of the iteration...")

i = 1
i = 2
i = 3
i = 4
i = 5
End of the iteration...

In [35]:
for i in range(1, 11):
    if (i == 5 or i == 8):
        print ("Continue with i =", i)
        continue
    print ("i =", i)
else:
    print ("Else block is executing...")
print ("End of the iteration...")

i = 1
i = 2
i = 3
i = 4
Continue with i = 5
i = 6
i = 7
Continue with i = 8
i = 9
i = 10
Else block is executing...
End of the iteration...

In [1]:
i = 1
while (i <= 10):
    print ("i =", i, end = ", ")
    i = i + 1
else:
    print ()
    print ("ELSE Block is executing...")
print ("End of the while loop")

i = 1, i = 2, i = 3, i = 4, i = 5, i = 6, i = 7, i = 8, i = 9, i = 10,
ELSE Block is executing...
End of the while loop

In [3]:
# nested looping
print ("Visit Doctor...")  # 1 time
medicount = 0
for day in range(1, 6):
    print ("Good Morning...")  # 5 times
    for medi in range(1, 4):
        print (f"Day Number - {day} and Medicine Number - {medi}...")   # 15 times
        medicount += 1
    print ("Good night...")  # 5 times
    print ("----------------------------------------------------")   # 5 times
print ("Thanks to Doctor...")  # 1 time
print ("Total number of medicines consumed is", medicount)
print ("End of the program...")  # 1 time

Visit Doctor...
Good Morning...
Day Number - 1 and Medicine Number - 1...
Day Number - 1 and Medicine Number - 2...
Day Number - 1 and Medicine Number - 3...
Good night...
----------------------------------------------------
Good Morning...
Day Number - 2 and Medicine Number - 1...
Day Number - 2 and Medicine Number - 2...
Day Number - 2 and Medicine Number - 3...
Good night...
----------------------------------------------------
Good Morning...
Day Number - 3 and Medicine Number - 1...
Day Number - 3 and Medicine Number - 2...
Day Number - 3 and Medicine Number - 3...
Good night...
----------------------------------------------------
Good Morning...
Day Number - 4 and Medicine Number - 1...
Day Number - 4 and Medicine Number - 2...
Day Number - 4 and Medicine Number - 3...
Good night...
----------------------------------------------------
Good Morning...
Day Number - 5 and Medicine Number - 1...
Day Number - 5 and Medicine Number - 2...
Day Number - 5 and Medicine Number - 3...
Good night...
----------------------------------------------------
Thanks to Doctor...
Total number of medicines consumed is 15
End of the program...

In [4]:
# nested looping
print ("Visit Doctor...")  # 1 time
medicount = 0
for day in range(1, 6):
    print ("Good Morning...")  # 5 times
    medi = 1
    while (medi <= 3):
        print (f"Day Number - {day} and Medicine Number - {medi}...")   # 15 times
        medicount += 1
        medi += 1
    print ("Good night...")  # 5 times
    print ("----------------------------------------------------")   # 5 times
print ("Thanks to Doctor...")  # 1 time
print ("Total number of medicines consumed is", medicount)
print ("End of the program...")  # 1 time

Visit Doctor...
Good Morning...
Day Number - 1 and Medicine Number - 1...
Day Number - 1 and Medicine Number - 2...
Day Number - 1 and Medicine Number - 3...
Good night...
----------------------------------------------------
Good Morning...
Day Number - 2 and Medicine Number - 1...
Day Number - 2 and Medicine Number - 2...
Day Number - 2 and Medicine Number - 3...
Good night...
----------------------------------------------------
Good Morning...
Day Number - 3 and Medicine Number - 1...
Day Number - 3 and Medicine Number - 2...
Day Number - 3 and Medicine Number - 3...
Good night...
----------------------------------------------------
Good Morning...
Day Number - 4 and Medicine Number - 1...
Day Number - 4 and Medicine Number - 2...
Day Number - 4 and Medicine Number - 3...
Good night...
----------------------------------------------------
Good Morning...
Day Number - 5 and Medicine Number - 1...
Day Number - 5 and Medicine Number - 2...
Day Number - 5 and Medicine Number - 3...
Good night...
----------------------------------------------------
Thanks to Doctor...
Total number of medicines consumed is 15
End of the program...

In [7]:
print ("Hello " * 5)
print ("Hi !!! " * 10)

Hello Hello Hello Hello Hello
Hi !!! Hi !!! Hi !!! Hi !!! Hi !!! Hi !!! Hi !!! Hi !!! Hi !!! Hi !!!

In [ ]:
Pattern - 1
n = 6 (User given integer layer number)
                 i    .    *  
              ----------------
.....*           1    5    1        (i, n)
....***          2    4    3   . => (n - i)
...*****         3    3    5
..*******        4    2    7   * => (2 * i - 1)
.*********       5    1    9
***********      6    0   11
              ----------------

In [13]:
n = int(input("Please enter the number of layers: "))
for i in range(1, n + 1):
    print ("." * (n - i) + "*" * (2 * i - 1))
print ("End of the program...")

Please enter the number of layers:  6

.....*
....***
...*****
..*******
.*********
***********
End of the program...

In [ ]:
Pattern - 2
n = 6 (User given integer layer number)
                 i    .    *  
              ----------------
***********      1    0   11        (i, n)
.*********       2    1    9   . => (i - 1)
..*******        3    2    7
...*****         4    3    5   * => (2 * (n - i) + 1)
....***          5    4    3
.....*           6    5    1
              ----------------

In [16]:
n = int(input("Please enter the number of layers: "))
for i in range(1, n + 1):
    print ("." * (i - 1) + "*" * (2 * (n - i) + 1))
print ("End of the program...")

Please enter the number of layers:  6

***********
.*********
..*******
...*****
....***
.....*
End of the program...

In [ ]:
Pattern - 3
n = 11 (User given ODD integer layer number)  m = (n + 1) // 2 = 6
                 i    .    *  
              ----------------
.....*           1    5    1        (i, m, n)
....***          2    4    3   . => (m - i)
...*****         3    3    5
..*******        4    2    7   * => (2 * i - 1)
.*********       5    1    9
***********    __6____0___11__
.*********       7    1    9
..*******        8    2    7   . => (i - m)
...*****         9    3    5
....***         10    4    3   * => (2 * (n - i) + 1)
.....*          11    5    1
              ----------------

In [20]:
while (True):
    n = int(input("Please enter the ODD number of layers: "))
    if (n % 2 == 1): break
m = (n + 1) // 2
for i in range(1, n + 1):
    if (i > m): b = (i - m); s = (2 * (n - i) + 1)
    else: b = (m - i); s = (2 * i - 1)
    print ("." * b + "*" * s)
print ("End of the program...")

Please enter the ODD number of layers:  12
Please enter the ODD number of layers:  18
Please enter the ODD number of layers:  14
Please enter the ODD number of layers:  10
Please enter the ODD number of layers:  6
Please enter the ODD number of layers:  11

.....*
....***
...*****
..*******
.*********
***********
.*********
..*******
...*****
....***
.....*
End of the program...

### Python Functions

In [3]:
def funct1():
    print ("Hello " * 5)
    
funct1()
funct1()
funct1()
funct1()

Hello Hello Hello Hello Hello
Hello Hello Hello Hello Hello
Hello Hello Hello Hello Hello
Hello Hello Hello Hello Hello

In [4]:
def funct2(msg, times):  # positional parameters
    print (msg * times)
    
funct2("Welcome ", 4)    # positional arguments
funct2("Hello !!! ", 3)
funct2("Good Bye ", 10)

Welcome Welcome Welcome Welcome
Hello !!! Hello !!! Hello !!!
Good Bye Good Bye Good Bye Good Bye Good Bye Good Bye Good Bye Good Bye Good Bye Good Bye

In [7]:
def funct3(msg, times):
    return msg * times

result = funct3("Welcome ", 4)
print (type(result))
print (result)
result = funct3("Hello ", 10)
print (result)
print (funct3("Good Bye !!! ", 10))

<class 'str'>
Welcome Welcome Welcome Welcome
Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello
Good Bye !!! Good Bye !!! Good Bye !!! Good Bye !!! Good Bye !!! Good Bye !!! Good Bye !!! Good Bye !!! Good Bye !!! Good Bye !!!

In [16]:
# function with default arguments
def funct4(par1 = 111, par2 = 222, par3 = 333):
    print (f"par1 = {par1}, par2 = {par2} and par3 = {par3}...")
    
funct4(100, 200, 300)
funct4(100, 200)
funct4(100)
funct4()
funct4(par2 = 200, par3 = 300, par1 = 100)
funct4(par2 = 200, par3 = 300)

par1 = 100, par2 = 200 and par3 = 300...
par1 = 100, par2 = 200 and par3 = 333...
par1 = 100, par2 = 222 and par3 = 333...
par1 = 111, par2 = 222 and par3 = 333...
par1 = 100, par2 = 200 and par3 = 300...
par1 = 111, par2 = 200 and par3 = 300...

In [21]:
def funct5(par1, par2 = None):
    # if (par2 == None):
    if (par2 is None):
        return par1 + par1
    else:
        return par1 + par2
    
print (funct5(100, 400))
print (funct5(100, 900))
print (funct5(200))

500
1000
400

In [25]:
# function returns multiple values at a time
def funct6(num1, num2):
    tot = num1 + num2
    dif = num1 - num2
    pro = num1 * num2
    quo = num1 / num2
    return tot, dif, pro, quo

total, difference, product, quotient = funct6(100, 40)
print (f"Total = {total}, Difference = {difference}, Product = {product} and Quotient = {quotient}...")
result = funct6(100, 40)
print (result, len(result), type(result))
print (f"Total = {result[0]}, Difference = {result[1]}, Product = {result[2]} and Quotient = {result[3]}...")

Total = 140, Difference = 60, Product = 4000 and Quotient = 2.5...
(140, 60, 4000, 2.5) 4 <class 'tuple'>
Total = 140, Difference = 60, Product = 4000 and Quotient = 2.5...

In [31]:
# non-recursive function (iterative function), iteration stands for looping
# 5! = 1 * 2 * 3 * 4 * 5 = 120
# n! = 1 * 2 * 3 * ... * (n - 1) * n
# 0! = 1! = 1
def factorial_nr(num):
    if (num == 0 or num == 1): return 1
    fact = num
    for i in range(2, num):
        print (f"Looping for i = {i}")
        fact = fact * i
    return fact

n = 5
result = factorial_nr(n)
print (f"So the factorial of n = {n} is result = {result}...")
print ()
n = 6
result = factorial_nr(n)
print (f"So the factorial of n = {n} is result = {result}...")

Looping for i = 2
Looping for i = 3
Looping for i = 4
So the factorial of n = 5 is result = 120...

Looping for i = 2
Looping for i = 3
Looping for i = 4
Looping for i = 5
So the factorial of n = 6 is result = 720...

In [33]:
# recursive function: It has two cases - 1. Base case, 2. Recursive case (The function will call itself)
# 5! = 5 * 4 * 3 * 2 * 1 = 120
# 5! = 5 * 4!
# n! = 1 * 2 * 3 * ... * (n - 1) * n
# 0! = 1! = 1
def factorial_r(num):
    if (num == 0 or num == 1): return 1   # Base case: for certain inputs, outputs are pre-known to us
    return num * factorial_r(num - 1)     # Recursive case: The function will call itself

n = 5
result = factorial_r(n)
print (f"So the factorial of n = {n} is result = {result}...")
print ()
n = 6
result = factorial_r(n)
print (f"So the factorial of n = {n} is result = {result}...")

So the factorial of n = 5 is result = 120...

So the factorial of n = 6 is result = 720...

5! = 5 * 4!
         4 * 3!
             3 * 2!
                 2 * 1!
                     1
                 2
             6
         24
     120

In [36]:
# calling one function from another function
# prime number: 13, 17, 19, 23, 29
# 100 => (1, 100), (2, 50), (4, 25), (5, 20), (10, 10)
def prime_check(num):
    for factor in range(2, int(num ** 0.5) + 1):
        if (num % factor == 0): return False
    return True

def prime_find(llimit, ulimit):
    for num in range(llimit, ulimit + 1):
        if (prime_check(num)):
            print (num,", ", end = "")
            
prime_find(10, 500)
print ()

11 , 13 , 17 , 19 , 23 , 29 , 31 , 37 , 41 , 43 , 47 , 53 , 59 , 61 , 67 , 71 , 73 , 79 , 83 , 89 , 97 , 101 , 103 , 107 , 109 , 113 , 127 , 131 , 137 , 139 , 149 , 151 , 157 , 163 , 167 , 173 , 179 , 181 , 191 , 193 , 197 , 199 , 211 , 223 , 227 , 229 , 233 , 239 , 241 , 251 , 257 , 263 , 269 , 271 , 277 , 281 , 283 , 293 , 307 , 311 , 313 , 317 , 331 , 337 , 347 , 349 , 353 , 359 , 367 , 373 , 379 , 383 , 389 , 397 , 401 , 409 , 419 , 421 , 431 , 433 , 439 , 443 , 449 , 457 , 461 , 463 , 467 , 479 , 487 , 491 , 499 ,

### Import Module: Math

In [52]:
import math
print (math.sin(0), math.cos(0), math.tan(0))
print (math.sqrt(100), math.sqrt(110))
print (math.floor(100.1), math.floor(100.9), math.ceil(100.1), math.ceil(100.9))
print (math.factorial(5), math.factorial(6))
print (math.e, math.pi, math.tau)
print (math.log(1024), math.log(1024, math.e), math.log(1024, 10), math.log10(1024), math.log(1024, 2), math.log2(1024))
print (math.gcd(100, 40), (100 * 40) / math.gcd(100, 40))

0.0 1.0 0.0
10.0 10.488088481701515
100 100 101 101
120 720
2.718281828459045 3.141592653589793 6.283185307179586
6.931471805599453 6.931471805599453 3.0102999566398116 3.010299956639812 10.0 10.0
20 200.0

In [ ]:
help(math)

### String Processing

L to R ->   0  1  2  3  4  5  6  7  8  9
  mystr =   u  n  i  v  e  r  s  i  t  y
R to L -> -10 -9 -8 -7 -6 -5 -4 -3 -2 -1

In [7]:
mystr = "university"
print (mystr, len(mystr), type(mystr), id(mystr))
print (mystr[3], mystr[-7], mystr[8], mystr[-2])   # indexing
print (mystr[0:6], mystr[:6], mystr[-10:-4], mystr[:-4])   # slicing
print (mystr[6:], mystr[-4:])
print (mystr[3:6], mystr[-7:-4], mystr[3:-4], mystr[-7:6])

university 10 <class 'str'> 1972343046448
v v t t
univer univer univer univer
sity sity
ver ver ver ver

In [8]:
mystr = "stANdfoRd uniVerSitY"
print (mystr.upper())
print (mystr.lower())
print (mystr.capitalize())
print (mystr.swapcase())
print (mystr.title())

STANDFORD UNIVERSITY
standford university
Standford university
STanDFOrD UNIvERsITy
Standford University

In [12]:
mystr = "1234"
print (mystr, mystr.isnumeric(), mystr.isalpha(), mystr.isalnum())
mystr = "abcd"
print (mystr, mystr.isnumeric(), mystr.isalpha(), mystr.isalnum())
mystr = "1234abcd"
print (mystr, mystr.isnumeric(), mystr.isalpha(), mystr.isalnum())
mystr = "1234@abcd"
print (mystr, mystr.isnumeric(), mystr.isalpha(), mystr.isalnum())

1234 True False True
abcd False True True
1234abcd False False True
1234@abcd False False False

In [17]:
mystr = "good morning"
print (mystr)
mystr = mystr.replace("morning", "night")
print (mystr)

good morning
good night

In [20]:
mystr = "    good      morning   "
print (mystr, len(mystr))
result = mystr.strip()
print (result, len(result))
result = mystr.lstrip()
print (result, len(result))
result = mystr.rstrip()
print (result, len(result))

    good      morning    24
good      morning 17
good      morning    20
    good      morning 21

In [23]:
mystr = "university"
print (list(mystr))
print (tuple(mystr))
print (set(mystr))

['u', 'n', 'i', 'v', 'e', 'r', 's', 'i', 't', 'y']
('u', 'n', 'i', 'v', 'e', 'r', 's', 'i', 't', 'y')
{'u', 's', 'v', 'i', 't', 'r', 'e', 'y', 'n'}

In [24]:
myword = input("Please enter your word: ")
for ch in myword:
    print (ch)

Please enter your word:  madam

m
a
d
a
m

In [26]:
myword = input("Please enter your word: ")
for i in range(len(myword)):
    print (i, myword[i])

Please enter your word:  madam

0 m
1 a
2 d
3 a
4 m

In [29]:
# find the number of vowels and consonants in a given string
myword = input("Please enter your word: ").lower()
vcount = 0
for ch in myword:
    if ch in "aeiou":
        vcount += 1
ccount = len(myword) - vcount        
print (f"So the number of vowels = {vcount} and consonants = {ccount} for the word = {myword}...")

Please enter your word:  uNIverSitY

So the number of vowels = 4 and consonants = 6 for the word = university...

### List Processing

In [32]:
list1 = [100, 300, 200, 500, 400]
print (list1, len(list1), id(list1), type(list1))
print (max(list1), min(list1))
print (sum(list1), sum(list1) / len(list1))

[100, 300, 200, 500, 400] 5 1972345668992 <class 'list'>
500 100
1500 300.0

In [37]:
list1 = ['red', 'green', 'blue', 'white', 'purple']
print (list1, len(list1), id(list1), type(list1))
print (max(list1), min(list1))
# print (sum(list1), sum(list1) / len(list1))

['red', 'green', 'blue', 'white', 'purple'] 5 1972349595520 <class 'list'>
white blue

In [38]:
list1 = ['red', 'green', 100, 'blue', 200, 'white', 'purple']
print (list1, len(list1), id(list1), type(list1))
# print (max(list1), min(list1))
# print (sum(list1), sum(list1) / len(list1))

['red', 'green', 100, 'blue', 200, 'white', 'purple'] 7 1972348683648 <class 'list'>

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [42]:
# insert operation on a list
list1 = ['red', 'green', 'blue', 'white', 'purple']
print (list1, len(list1), id(list1), type(list1))
list1.append("magenta")
list1.append("black")
print (list1, len(list1), id(list1), type(list1))
list1.insert(3, "yellow")
print (list1, len(list1), id(list1), type(list1))

['red', 'green', 'blue', 'white', 'purple'] 5 1972352220864 <class 'list'>
['red', 'green', 'blue', 'white', 'purple', 'magenta', 'black'] 7 1972352220864 <class 'list'>
['red', 'green', 'blue', 'yellow', 'white', 'purple', 'magenta', 'black'] 8 1972352220864 <class 'list'>

In [45]:
# delete operation on a list
list1 = ['red', 'green', 'blue', 'white', 'purple']
print (list1, len(list1), id(list1), type(list1))
list1.remove("blue")
print (list1, len(list1), id(list1), type(list1))
list1.remove("white")
print (list1, len(list1), id(list1), type(list1))
list1.clear()
print (list1, len(list1), id(list1), type(list1))

['red', 'green', 'blue', 'white', 'purple'] 5 1972348732864 <class 'list'>
['red', 'green', 'white', 'purple'] 4 1972348732864 <class 'list'>
['red', 'green', 'purple'] 3 1972348732864 <class 'list'>
[] 0 1972348732864 <class 'list'>

In [46]:
# update operation on a list
list1 = ['red', 'green', 'blue', 'white', 'purple']
print (list1, len(list1), id(list1), type(list1))
list1[2] = "yellow"
print (list1, len(list1), id(list1), type(list1))

['red', 'green', 'blue', 'white', 'purple'] 5 1972352942976 <class 'list'>
['red', 'green', 'yellow', 'white', 'purple'] 5 1972352942976 <class 'list'>

### Tuple Processing

In [47]:
tuple1 = (100, 300, 200, 500, 400)
print (tuple1, len(list1), id(tuple1), type(tuple1))
print (max(tuple1), min(tuple1))
print (sum(tuple1), sum(tuple1) / len(tuple1))

(100, 300, 200, 500, 400) 5 1972346944224 <class 'tuple'>
500 100
1500 300.0

In [48]:
tuple1 = ('red', 'green', 'blue', 'white', 'purple')
print (tuple1, len(list1), id(tuple1), type(tuple1))
print (max(tuple1), min(tuple1))
# print (sum(tuple1), sum(tuple1) / len(tuple1))

('red', 'green', 'blue', 'white', 'purple') 5 1972348544880 <class 'tuple'>
white blue

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [51]:
tuple1 = ('red', 100, 'green', 23.45, 'blue', 'white', 'purple')
print (tuple1, len(list1), id(tuple1), type(tuple1))
# print (max(tuple1), min(tuple1))
# print (sum(tuple1), sum(tuple1) / len(tuple1))
tuple1[2] = "yellow"

('red', 100, 'green', 23.45, 'blue', 'white', 'purple') 5 1972326614784 <class 'tuple'>

TypeError: 'tuple' object does not support item assignment

### Dictionary Processing

In [55]:
dict1 = {"apple":100, "orange":200, "guava":200, "pineapple":340, "orange":750}
print (dict1, len(dict1), type(dict1), id(dict1))
print (dict1.values())
print (dict1.keys())
print (dict1.items())

{'apple': 100, 'orange': 750, 'guava': 200, 'pineapple': 340} 4 <class 'dict'> 1972352362880
dict_values([100, 750, 200, 340])
dict_keys(['apple', 'orange', 'guava', 'pineapple'])
dict_items([('apple', 100), ('orange', 750), ('guava', 200), ('pineapple', 340)])

In [62]:
# reading from the dictionary
dict1 = {"apple":100, "guava":200, "pineapple":340, "orange":750}
print (dict1, len(dict1), type(dict1), id(dict1))
print (dict1.get("orange"))
print (dict1.get("banana"))
print (dict1.get("banana", "Not Available"))
print (dict1.get("apple", "Not Available"))
print (dict1["apple"])
print (dict1["banana"])

{'apple': 100, 'guava': 200, 'pineapple': 340, 'orange': 750} 4 <class 'dict'> 1972352278400
750
None
Not Available
100
100

KeyError: 'banana'

In [65]:
# deleting from the dictionary
dict1 = {"apple":100, "guava":200, "pineapple":340, "orange":750}
print (dict1, len(dict1), type(dict1), id(dict1))
print (dict1.pop("guava"))
print (dict1, len(dict1), type(dict1), id(dict1))
print (dict1.pop("orange"))
print (dict1, len(dict1), type(dict1), id(dict1))
dict1.clear()
print (dict1, len(dict1), type(dict1), id(dict1))

{'apple': 100, 'guava': 200, 'pineapple': 340, 'orange': 750} 4 <class 'dict'> 1972346913664
200
{'apple': 100, 'pineapple': 340, 'orange': 750} 3 <class 'dict'> 1972346913664
750
{'apple': 100, 'pineapple': 340} 2 <class 'dict'> 1972346913664
{} 0 <class 'dict'> 1972346913664

In [67]:
# update on the dictionary
dict1 = {"apple":100, "guava":200, "pineapple":340, "orange":750}
print (dict1, len(dict1), type(dict1), id(dict1))
dict1["orange"] = 990
print (dict1, len(dict1), type(dict1), id(dict1))
dict1["apple"] = 550
print (dict1, len(dict1), type(dict1), id(dict1))

{'apple': 100, 'guava': 200, 'pineapple': 340, 'orange': 750} 4 <class 'dict'> 1972344201344
{'apple': 100, 'guava': 200, 'pineapple': 340, 'orange': 990} 4 <class 'dict'> 1972344201344
{'apple': 550, 'guava': 200, 'pineapple': 340, 'orange': 990} 4 <class 'dict'> 1972344201344

### Set Processing

In [71]:
set1 = {100, 'morning', 950, 'game', 'football', 400, 650, 'morning', 950, 'game'}
print (set1, len(set1), type(set1), id(set1))

{'game', 100, 'morning', 650, 400, 950, 'football'} 7 <class 'set'> 1972350207808

In [73]:
# insert operation
set1 = {100, 'morning', 950, 'game', 'football', 400, 650, 'morning', 950, 'game'}
print (set1, len(set1), type(set1), id(set1))
set1.add('night')
print (set1, len(set1), type(set1), id(set1))
set1.add(1050)
print (set1, len(set1), type(set1), id(set1))

{'game', 100, 'morning', 650, 400, 950, 'football'} 7 <class 'set'> 1972350207808
{'game', 100, 'morning', 650, 'night', 400, 950, 'football'} 8 <class 'set'> 1972350207808
{'game', 100, 'morning', 650, 'night', 400, 950, 'football', 1050} 9 <class 'set'> 1972350207808

In [74]:
# delete operation
set1 = {100, 'morning', 950, 'game', 'football', 400, 650, 'morning', 950, 'game'}
print (set1, len(set1), type(set1), id(set1))
set1.remove(950)
set1.remove("morning")
print (set1, len(set1), type(set1), id(set1))

{'game', 100, 'morning', 650, 400, 950, 'football'} 7 <class 'set'> 1972348862240
{'game', 100, 650, 400, 'football'} 5 <class 'set'> 1972348862240

In [77]:
# set intersection operation
set1 = {100, 200, 300, 400, 500}
set2 = {300, 400, 500, 600, 700}
print (set1)
print (set2)
result = set1 & set2
print (result)
result = set1.intersection(set2)
print (result)

{100, 200, 300, 400, 500}
{300, 400, 500, 600, 700}
{400, 300, 500}
{400, 300, 500}

In [78]:
# set union operation
set1 = {100, 200, 300, 400, 500}
set2 = {300, 400, 500, 600, 700}
print (set1)
print (set2)
result = set1 | set2
print (result)
result = set1.union(set2)
print (result)

{100, 200, 300, 400, 500}
{300, 400, 500, 600, 700}
{100, 200, 300, 400, 500, 600, 700}
{100, 200, 300, 400, 500, 600, 700}

In [79]:
# set difference operation
set1 = {100, 200, 300, 400, 500}
set2 = {300, 400, 500, 600, 700}
print (set1)
print (set2)
result = set1 - set2
print (result)
result = set1.difference(set2)
print (result)

{100, 200, 300, 400, 500}
{300, 400, 500, 600, 700}
{200, 100}
{200, 100}

In [80]:
# set symmetric difference operation
set1 = {100, 200, 300, 400, 500}
set2 = {300, 400, 500, 600, 700}
print (set1)
print (set2)
result = set1 ^ set2
print (result)
result = set1.symmetric_difference(set2)
print (result)

{100, 200, 300, 400, 500}
{300, 400, 500, 600, 700}
{700, 100, 600, 200}
{700, 100, 600, 200}